# Dart and Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.iws

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/gradle/wrapper/gradle-wrapper.jar
android/gradlew
android/gradlew.bat

# OS
.DS_Store
Thumbs.db
